{{> welcome-menu active="home"}}

<div class="columns is-vcentered ">
    <div class="column has-test-centered">
        <h>Sign up or log in to start creating ArtMarks</h>
        <p> Artmarks is a platform for sharing places of artistic interest.</p>
    </div>
    <div class="column is-one-third">
        <br>
        <figure class="image is-3by4">
            <img src="/images/Wunstkunst_default.jpg" alt="An image of a cigarette vending machine that has been turned into an art installation"> 
        </figure>
        <p class="subtitle">An art vending machine located in Berlin</p>
    </div>
</div>
