{{> welcome-menu active="gallery"}}


<h1>GALLERY GOES HERE</h1>

<div class="columns is-multiline">
    {{#each artmarks}}
        <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        <img src="{{img}}" alt="{{title}}">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title">
                        {{title}}
                    </p>
                    <p class="subtitle">
                        {{artist}}
                    </p>
                </div>
            </div>
        </div>
    {{/each}}
</div>