<form action="/dashboard/addartmark" method="POST">
    <div class="field">
        <label class="label">ArtMark Title</label> <input class="input" type="text" placeholder="Enter ArtMark title" name="title">
    </div>
    <button class="button is-link">Add ArtMark</button>
</form>