<form class="box" action="/gallery/{{artmark._id}}/addreview" method ="POST">
    <h1 class="title">Leave a review</h1>
        <div class="field">
            <textarea class="textarea is-link" name="reviewText"></textarea>
        </div>
        <div class="buttons">
        <button class="button is-link is-rounded">Add Review</button>
    </div>   
</form>