<form class="box" action="/dashboard/addartmark" method="POST">
    <h1 class="title">Enter Artmark Details:</h1>
    <div class="field">     
        <div class="field-body">
            <div class="field">    
                <div class="select is-rounded">
                    <select name="category">
                        <option>Select Category</option>
                        <option value="Painting">Painting</option>
                        <option value="Drawing">Drawing</option>
                        <option value="Sculpture">Sculpture</option>
                        <option value="Monument">Monument</option>
                        <option value="Street Art">Street Art</option>
                        <option value="Architecture">Architecture</option>
                        <option value="Photography">Photography</option>
                        <option value="Mixed Media">Mixed Media</option>
                        <option value="Textile">Textile</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
   

    <div class="field">
        <div class="field-body">
            <div class="field">
                <input class="input" type ="text" placeholder="Artwork title" name="title">
            </div>    
            <div class="field">
                <input class="input" type ="text" placeholder="Artist name" name="artist">
            </div>
        </div>    
    </div>
    <div class="field">
        <textarea class="textarea is-link" placeholder="Enter a brief description of the ArtMark" name="description"></textarea>
    </div> 
    <div class="field">
        <div class="field-body">
            <div class="field">
                <input class="input" type ="text" placeholder="Enter location" name="location"> 
            </div>
            <div class="field">
                <input class="input" type ="text" placeholder="Enter latitude" name="latitude"> 
            </div>
            <div class="field">
                <input class="input" type ="text" placeholder="Enter longitude" name="longitude"> 
            </div>
        </div>
    </div> 
    
    <br>
    <div class="field">
        <label class="label">Is access to this ArtMark free?</label>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <label class="radio">
                    <input type="radio" name="access" value="Yes">
                        Yes
                    </label>
                    <label class="radio">
                    <input type="radio" name="access" value="No">
                        No
                    </label>
                </div>
            </div>
        </div>
    </div>            
    
    <div class="buttons is-right">
        <button class="button is-link is-rounded">Add ArtMark</button>
    </div>            
    
</form>