<form action="/dashboard/category" method="GET">
    <div class="field has-addons">
        <div class="control">
            <div class="select">
                <select name="category">
                    <option>View Artmarks by Category</option>
                    <option value="Painting">Painting</option>
                    <option value="Drawing">Drawing</option>
                    <option value="Sculpture">Sculpture</option>
                    <option value="Monument">Monument</option>
                    <option value="Street Art">Street Art</option>
                    <option value="Architecture">Architecture</option>
                    <option value="Photography">Photography</option>
                    <option value="Mixed Media">Mixed Media</option>
                    <option value="Textile">Textile</option>    
                </select>
            </div>
            </div>        
        <div class="control">
            <button type="submit" class="button is-link">Choose</button>
        </div>
    </div>
</form>


